/* Coolors Exported Palette - coolors.co/800000-050609-f3b61f-f5d0c5-191102 */

/* HSL */
$color1: hsla(0%, 100%, 25%, 1);
$color2: hsla(225%, 29%, 3%, 1);
$color3: hsla(43%, 90%, 54%, 1);
$color4: hsla(14%, 71%, 87%, 1);
$color5: hsla(39%, 85%, 5%, 1);

/* RGB */
$color1: rgba(128, 0, 0, 1);
$color2: rgba(5, 6, 9, 1);
$color3: rgba(243, 182, 31, 1);
$color4: rgba(245, 208, 197, 1);
$color5: rgba(25, 17, 2, 1);