:root {
    --bg-color: rgba(243, 182, 31, 0.3);
    --main-color: rgba(128, 0, 0, 1);
    --light-accent: rgba(243, 182, 31, 1);
    --dark-accent: rgba(25, 17, 2, 1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    font-size: 1rem;
}


/* ============
Typography
============ */

h1 {
    font-size: 3rem;
    font-family: 'Saira Stencil One', cursive;
    font-display: swap;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 3rem;
    text-align: left;
    padding-left: 0.5em;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--main-color);
}

h1,
h3,
p {
    margin-top: 0px;
}

h3 {
    color: var(--light-accent);
}

.copyright-text {
    color: white;
    background-color: rgba(0, 0, 0, .2);
    /* margin: 1em auto; */
    text-align: center;
    opacity: 0.5;
}

.centered {
    text-align: center;
}

.footer-text {
    color: white;
    opacity: 0.8;
}


/* ============
Layout
============ */


/* ============
General
============ */

.main-grid {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(0px, 800px) minmax(2em, 1fr);
}

.main-grid>* {
    grid-column: 2 / -2;
}

.btn-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    padding: 0.5em 1.5em;
    margin: 1em 0.5em;
    background: var(--main-color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
    /* border-radius: 5px; */
}

.btn:hover {
    background: var(--light-accent);
    color: var(--dark-accent);
}


/* ============
Header
============ */

header {
    color: var(--main-color);
    background-image: url(images/backgrounds/dot-grid/dot-grid.png);
    padding: 1.5em 0;
}

.logo-link,
.logo-link:active {
    text-decoration: none;
    color: inherit;
}

.logo-container {
    display: flex;
}

.header-logo {
    height: 6em;
    border-right: var(--main-color) solid 2px;
}

.title-container {
    max-width: 400px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

}


/* --------------
----navigation --
-------------- */

.nav-section {
    background: var(--main-color);
    margin: 0;
    padding: 0.25em;
    box-shadow: rgb(0 0 0 / 30%) 0 5px 10px;
}

.nav-container {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 700;
}

.nav-ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-li {
    margin: 0 1em 0 0;
}

.nav-item {
    text-decoration: none;
    margin-right: .5em;
    color: white;
}

.nav-item:hover,
.nav-item:focus {
    border-bottom: var(--light-accent) solid 2px;
    color: var(--light-accent);
    /* background: var(--dark-accent); */
}

.current-pg {
    color: var(--light-accent);
}

@media (max-width: 600px) {
    .nav-ul {
        flex-direction: column;
        align-items: center;
    }
    .nav-li {
        margin: 0.5em;
    }
}


/* ========================
=======  Columns ==========
========================= */

.main-text {
    margin: 5em 0 5em;
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* column-gap: 1em; */
    justify-content: space-between;
    align-items: flex-start;
}

.info {
    margin-top: 3em;
    margin-bottom: 3em;
}

.col {
    display: flex;
    flex-direction: column;
    color: #202020;
    flex: 1 1 200px;
    padding: 0 1em;
    text-align: center;
}

.col i {
    margin: 0 auto;
    color: var(--light-accent);
    font-size: 3em;
}

.col-list {
    margin-top: 0;
    list-style: square;
}

@media (max-width: 450px) {
    .main-text {
        flex-direction: column;
        align-items: center;
    }
}


/* ===========================
=   Main page template    =
==============================*/

.template-grid {
    display: grid;
    justify-content: center;
}

.template-page-header {
    margin-bottom: 2em;
}

.main-image {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 0 var(--dark-accent), -5px -5px 0 var(--main-color);
    margin: 0 auto 2em;
}

.about-image {
    order: 2;
    width: 100%;
}

.template-text:last-of-type {
    margin-bottom: 2em;
}

@media(min-width: 800px) {
    .template-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
    }

    .template-content {
        grid-column: 2 / -1;
    }
    
    .template-head {
        grid-column: 1 / -1;
        grid-row: 1;
    }
}


/* ===========================
=  Services page             =
==============================*/

.service-grid {
    display: grid;
    margin-bottom: 2em;
    column-gap: 1em;
    row-gap: 2em;
    grid-template-columns: 1fr 2fr;
}

.service-grid i {
    margin: 0 auto;
    color: var(--light-accent);
    font-size: 3em;
}

.service-grid p {
    grid-column: 2 /-2;
}

.icon-cont {
    text-align: center;
    align-self: center;
    position: relative;
    margin: 1.5em 0;
}


@media (max-width: 600px) {
    .service-grid {
        grid-template-columns: 1fr 2fr;
        grid-auto-flow: dense;
    }
    .service-grid.icon-cont {
        grid-column: 1;
    }
}



@media (max-width: 400px) {
 
    .service-grid {
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
    }

    .service-grid .icon-cont::after {
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 25%;
        background-color: var(--light-accent);
    }
    
}


/* ===========================
=   Project preview / hero    =
==============================*/

.hero-section {
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
}

.prj-prev-prnt {
    height: 300px;
    flex: 1 1 300px;
    overflow: hidden;
    position: relative;
}
.hero-image {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.project-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
}

.prj-prev-prnt:hover .project-preview-img {
    transform: scale(1.1);
    background-position: bottom;
    background-color: #a7a7a7;
    background-blend-mode: multiply;
}

.prj-prev-prnt:hover p {
    display: block;
}

.project-text {
    padding: 1rem;
    background-color: #7a7a7a;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
}

.project-text p {
    font-weight: 400;
    color: white;
    display: none;
}

.project-text h3 {
    color: white;
    margin-bottom: 0;
}
.centre-position{
    object-position: center;
}

.top-position{
    object-position: top;
}

.card--project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 3em;
}

.card__video {
    height: 0;
    width: 100%;
    padding-bottom: 56.25%;
    margin-bottom: 40px;
    position: relative;
}

.card__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.card__img {
    width: 100%;
}

.card__text {
    padding-top: 1rem;
}

.card__stat {
    margin-bottom: 0;
}

.btn--gallery {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.card__img .mklbItem {
    display: block;
}

.card__img .mklbItem:not(:first-child) {
    display: none;
}

.btn--gallery:hover .project-preview-img {
    opacity: 0.7;
}

.btn--text {
    position: absolute;
    z-index: 2;
    color: white;
    top: unset;
    bottom: 0;
}

@media (min-width: 800px) {
    .card--project {
        flex-direction: row;
        align-items: flex-start;
    }

    .card__img {
        width: 40%;
        flex: 0 0 40%;
    }

    .card__text {
        padding-top: 0;
        margin-left: 3em;
        flex: 1 1 50%;
    }
    
}

/* =================
=   Project Page   =
====================*/

.project-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    background-color: #7a7a7a;
    opacity: 0.9;
}
.project-label h3,
.project-label a {
    color: white;
    text-decoration: none;
    margin-bottom: 0;
}

.double {
    flex: 2 1 450px;
}


/* ============
  Footer 
========= */

.footer {
    background-color: var(--dark-accent);
    padding-top: 2em;
}

.footer-logo {
    max-height: 80px;
    object-fit: contain;
    min-height: 0;
    min-width: 0;
    /* border: 2px solid green; */
}

.flex-cont {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.contact-section {
    background-image: url(images/backgrounds/brickwall/brickwall.png);
    background-blend-mode: overlay;
    margin: 0 auto;
    color: #202020;
}

.footer-link {
    color: white;
}


/* contact  */

.contact-table {
    color: #202020;
    border-collapse: collapse;
    margin-left: 1em;
}

.contact-table td:first-of-type {
    text-align: center;
    padding: 0.5em;
}

.contact-table p {
    line-height: 1;
    margin-left: 2em;
    margin-bottom: 0;
}

.contact-link {
    color: #202020;
    text-decoration: none;
    font-weight: 400;
}

.contact-link:hover {
    color: var(--light-accent);
    /* background: yellow; */
    text-decoration: underline;
    /* border: solid red 2px; */
}

.table-icon {
    font-size: 2rem;
    margin: 0 auto;
}

@media(min-width: 800px) {
    .contact-table { 
        margin-left: 7em;
    }
}


/* Helpers */

.m-b {
    margin-bottom: 5em;
}